*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header{
  background: url(../img/header-bg.jpg) center center / cover no-repeat ;
  height: 300px;

  
}

.conteiner{
  max-width: 1220px;
  width: 100%;
  margin: 0 auto;  
}

.gggtgt{
  color: rgb(255, 255, 255);
  font-family: Anton;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 10%;
  text-align: left;
  text-transform: uppercase;
  text-decoration: none;
  padding-top: 15px;
  flex: 1 1 auto;
  margin: 0 10px;
}

.rtfgvbsr{
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1220px;
  width: 100%;
  padding-top: 57px;
}

.evcasdfv{
  display: flex;
  padding: 0 5px;
  display: flex;
  align-items: center;
  max-width: 243px ;
  justify-content: space-between;
  width: 100%;
  color: rgb(255, 255, 255);
  font-family: Anton;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 10%;
  text-transform: uppercase;
  margin-left: auto;
  margin-right: auto;
  text-align: center;;
}


.sdc{
color: rgb(255, 255, 255);
font-family: Anton;
font-size: 17px;
font-weight: 400;
line-height: 26px;
letter-spacing: 10%;
text-decoration: none;
text-transform: uppercase;   
}

.dsaf{
  color: rgb(255, 255, 255);
font-family: Anton;
font-size: 30px;
font-weight: 330;
line-height: 44px;
letter-spacing: 10%;
text-align: left;
text-transform: uppercase;

}
.dggff{
  color: rgb(255, 255, 255);
font-family: Anton;
font-size: 25px;
font-weight: 400;
letter-spacing: 0%;
text-align: left;
text-transform: uppercase;
}
.gerr{
  color: rgb(255, 255, 255);
  font-family: Anton;
  font-size: 17px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 10%;
  text-align: center;
  text-transform: uppercase;
  background: none;
  padding:10px ;
  margin-top: 20px;
}
.rffrfx{
  color: rgb(0, 0, 0);
font-family: Anton;
font-size: 25px;
padding-bottom: 40px;
font-weight: 1169;
line-height: 75px;
letter-spacing: 0%;
text-align: center;
text-transform: uppercase;


}

.bhhhghg{
  color: rgb(0, 0, 0);
  font-family: Anton;
  font-size: 14px;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;   
}
.eeercvf{
  position: absolute;
  width: 1169px;
  height: 75px;
  left: 216px;
  right: -215px;
  top: 1013px;
  bottom: -286px; 
}
.bhhh{
  color: rgb(0, 0, 0);
  font-family: Open Sans;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0%;
  text-align: justify; 
}

.qzxs{
  color: rgb(0, 0, 0);
font-family: Anton;
font-size: 14px;
letter-spacing: 0%;
text-align: center;
text-transform: uppercase

}

.ligg{
  color: rgb(0, 0, 0);
font-family: Open Sans;
font-size: 12px;
font-weight: 400;
letter-spacing: 0%;
text-align: justify;
}

.mbnmb{
  color: rgb(0, 0, 0);
font-family: Open Sans;
font-size: 16px;
font-weight: 400;
line-height: 22px;
letter-spacing: 0%;
text-align: justify;
}


.sdas{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.jjkkjk{
  display: flex;
  flex-direction: column;
  max-width: 564px;  ;
}
.dfsss{
  max-width: 1220px;
  width: 100%;   
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
}

  .item{
    color: rgb(0, 0, 0);
    font-family: Anybody;
    line-height: 72px;
  
    text-align: center;
    text-transform: uppercase;

    }
 
   .vggh{
     height:200px ;
  width:190px ;
   }
  .ooujyh{
    color: rgb(0, 0, 0);
      font-family: Open Sans;
      font-size: 15px;
      font-weight: 400;
      letter-spacing: 0%;
      text-align: justify; 
  }
  .qeqsqw{
    padding-top: 50px;
  }
.section3{
  background: url(../img/1666833941_5-mykaleidoscope-ru-p-berning-men-pinterest-5\ 1\ \(2\).png) center center / cover no-repeat ;
  height: 400px;
  margin-top: 40px;
} 
.ddd{
  height: 200px;
  width: 190px;
}

.dfdd{
  color: rgb(0, 0, 0);
  font-family: Open Sans;
  font-size: 24px;
  font-weight: 700;
  line-height: 33px;
  letter-spacing: 0%;
  text-align:center ; 
  padding-top: 100px;
}
.ggrege{
  color: rgb(0, 0, 0);
font-family: Open Sans;
font-size: 24px;
font-weight: 700;
line-height: 33px;
letter-spacing: 0%;
text-align: justify;
  padding-top: 50px;
}
.cection4{
  padding-top: 50px;
}
.ggre{
color: rgb(0, 0, 0);
  font-family: Open Sans;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0%;
  text-align: justify; 
}
.ewfewfe{
  max-width: 1220px;
  width: 100%;   
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 50px;
}
.cection5{
  padding-top: 50px;
}
.ggr{
  color: rgb(0, 0, 0);
  font-family: Open Sans;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0%;
  text-align: justify;
} 
.gdfdfd{
  padding-top: 100px;
}

.fhhhhhhh{
  color: rgb(0, 0, 0);
  font-family: Anton;
  font-size: 25px;
  font-weight: 400;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
  padding-top: 60px;
}
.footer{
  font-family: Anton;
font-size: 25px;
font-weight: 400;
line-height: 0px;
letter-spacing: 0%;
text-align: center;
text-transform: uppercase; 
padding-left: 500px; 
}







